*{
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;	 
}

.botonesNavContacto{
text-decoration: none;
width: 100px;
font-size: 25px;
position: fixed;
top: 2%;
right: 1%;
opacity: 80%;
color: rgb(92, 86, 86);
}
.botonesNavLenguaje{
text-decoration: none;
width: 100px;
font-size: 25px;
position: fixed;
top: 2%;
right: 39%;
opacity: 80%;
color: rgb(92, 86, 86);
}

.botonesNavStudies{
text-decoration: none;
width: 100px;
font-size: 25px;
position: fixed;
top: 2%;
right: 29%;
opacity: 80%;
color: rgb(92, 86, 86);
}

.botonesNavAbout{
text-decoration: none;
width: 120px;
font-size: 25px;
position: fixed;
top: 2%;
right: 19%;
opacity: 80%;
color: rgb(92, 86, 86);
}

.botonesNavHobbies{
text-decoration: none;
width: 100px;
font-size: 25px;
position: fixed;
top: 2%;
right: 9%;
opacity: 80%;
color: rgb(92, 86, 86);
}

.botonesNav:hover{
	cursor: pointer;
	opacity: 100%;
}

#fotoNombre{
	width: 80%;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	padding: 0px;
}

.foto {
	height: 615px;
	width: 50%;
	padding-left: 50%;
	object-fit: cover;
	position: absolute;
	z-index: -10;
}

#nombre {
	text-align: start;
	color: rgb(126, 119, 119);
	Text-shadow: 2px 2px 7px #000; 
	font-size: 800%;
	padding-top: 150px;
}

#user{
	color: blueviolet;
	padding-left: 0px;
	opacity: 75%;
}

#frontend{
	padding-top: 50px;
	width: 100%;
	height: 100px;
	font-size: 50px;
	text-align: center;
	color: rgb(126, 119, 119);
	background-color: white;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 300px;
	flex-direction: row;
}


div ul li{
	list-style-type:  none;
}

.botonesIndice{
flex-direction: row;
flex-wrap: wrap;
text-decoration: none;
color: white;
font-size: 60px;
background-color:rgb(126, 119, 119);
border-radius: 10%;
width: 280px;
height: 100px;
text-align: center;
border:rgba(126, 119, 119, 0.575) solid 2px;
margin: 50px;
}

.botonesIndice:hover{
	border: 2px solid  rgba(126, 119, 119, 0.575);
	background-color:rgb(167, 157, 157);

}

footer{
	width: 98%;
	margin: auto;
	margin-top: 100px;
	height: 90px;
	background-color: white;
	display: flex;
	align-items: center;
	border: 2px solid rgba(126, 119, 119, 0.575);
}

#iconosFooter{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	width: 100%;
}

.icono{
	width: 30px;
	height: 30px;
	opacity: 65%;
	}

.icono:hover{
	opacity: 100%;
}

.tituloHome{
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.bi-house{
	width: 30px;
	height: 30px;
	padding: 20px;
}

.titulo{
	margin: 15px auto 5px auto;
	width: 50%;
	font-size: 50px;
	text-align: center;
	color: rgb(126, 119, 119);
	margin: 40px;
}

#botonJS{
	font-size: 40px;
}

.estudios{
	margin: 5px auto 5px auto;
	padding: 15PX;
	width: 95%;
	height: 400px;
	font-size: 45px;
	color: rgb(126, 119, 119);
	margin: 40px;
}

.estudios li{
	margin: 10px 0 10px 0;
}


#parrafo{
	width: 60%;
	height: 400px;
	padding: 20px;
	padding-right: 150px;
	font-size:x-large;
	margin: 50px 0 50px 0;
}

.foto2 {
	margin-top: 30px;
	height: 450px;
	width: 50%;
	padding-left: 50%;
	object-fit: cover;
	position: absolute;
	z-index: -10;
	opacity: 85%;
	padding-bottom: 0;
	margin-bottom: 0;
}

#contenedorFotografiaMusica{
	width: 100%;
	height: 460px;
	display: flex;
	flex-direction: row;
}

#containerFotografia{
width: 650px;
height: 445px;
margin: 10px;
border: 2px solid rgb(126, 119, 119);
}

#carrousel{
	margin: 2px;
	width: 640px;
	height: 282px;
	border: 2px solid rgb(126, 119, 119);
}


#containerMusica{
	margin: 10px;
	width: 650px;
	height: 445px;
	border: 2px solid rgb(126, 119, 119);
}

.divMusica{
	margin: 2px;
	width: 640px;
	height: 141px;
	border: 2px solid rgb(126, 119, 119);
	display: flex;
	flex-direction: row;
}

.divMusica h3{
margin-top: 60px;
margin-left: 40px;
}

.foto1{
	margin: 5px;
	width: 130px;
	height: 130px;
}

/*Grid

      <div id="grilla">
        <section id="sectionHtml">HTML</section>
        <section id="sectionJavaScript" class="border">JavaScript</section>
        <section id="sectionReact" class="border">React.JS</section>
        <aside id="asideCss">CSS</aside>
        <aside id="asideC++">C++</aside>
     </div>

*/
#grilla {
	margin: 50px 0 50px 0;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 10em 10em 10em; 
	grid-template-areas:
	  "sectionHtml sectionHtml asideCss"
	  "sectionJavaScript sectionJavaScript asideCss"
	  "sectionReact sectionReact asideC";
	  grid-row-gap: 1em;
	  justify-items: stretch;
	  align-items: stretch;
}

.sectionHtml{
	grid-area: sectionHtml;
}

.asideCss{
	grid-area: asideCss;
}

.sectionJavaScript{
	grid-area: sectionJavaScript;
}

.sectionReact{
	grid-area: sectionReact;
}

.asideC{
	grid-area: asideC;
}

.botonesIndice2{
text-decoration: none;
color: white;
font-size: 100px;
background-color:rgb(126, 119, 119);
border-radius: 10%;
border:rgba(126, 119, 119, 0.575) solid 2px;
position: absolute;
}

.botonesIndice2:hover{
border: 2px solid  rgba(126, 119, 119, 0.575);
background-color:rgb(167, 157, 157);
}

section img{
	height: 100%;
}

aside img{
	height: 100%;
}

#columnaCss{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 60px;
	font-size: 60px;
	text-align: center;
	margin: 0 80px 0 80px;
}

#columnaCssImg{
	height: 80%;
	margin: 0 20% 0 20%;
}

#Cpp{
	width: 300px;
	text-align: center;
	margin: 20px;
}

#html{
	width: 700px;
	text-align: center;
	margin: 20px;
}

#JS{
	width: 600px;
	text-align: center;
	margin: 20px;
}
