* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

html {
  scroll-behavior: smooth; }

* {
  font-family: 'Roboto', sans-serif; }

.nav-item:hover {
  padding-top: 5px;
  margin-bottom: -5px;
  transition: 1s; }

#hobbies {
  padding: 40px;
  width: 100%;
  height: 150px;
  font-size: 50px;
  text-align: center;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("https://github.com/niederhausertomas/porfolio-Tomas-Niederhauser/blob/main/imagenes/IMG_6948.jpg?raw=true"); }

#fotoNombre {
  width: 100%;
  height: 550px;
  flex-wrap: wrap;
  padding: 0px;
  align-items: center; }
  #fotoNombre .foto {
    height: 400px;
    width: 30%;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 35% 10px 35%; }
  #fotoNombre #nombre {
    text-align: center;
    color: #7e7777;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px; }

#frontend {
  padding: 40px;
  width: 100%;
  height: 150px;
  font-size: 50px;
  text-align: center;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("https://github.com/niederhausertomas/porfolio-Tomas-Niederhauser/blob/main/imagenes/IMG_57421.jpg?raw=true"); }

/* 	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative
*/
.botonesIndice {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #7e7777;
  font-size: 25px;
  width: 280px;
  height: 100px;
  align-items: center;
  margin: 30px;
  width: 100%; }
  .botonesIndice:hover {
    text-decoration: none;
    color: #7e7777;
    margin-top: 40px;
    transition: 0.5s; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0; }

div ul li {
  list-style-type: none; }

#lenguajes {
  padding: 40px;
  width: 100%;
  height: 150px;
  font-size: 50px;
  text-align: center;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("https://github.com/niederhausertomas/porfolio-Tomas-Niederhauser/blob/main/imagenes/IMG_5617.jpg?raw=true"); }

#grilla {
  margin: 50px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10em 10em 10em;
  grid-template-areas: "sectionHtml sectionHtml asideCss" "sectionJavaScript sectionJavaScript asideCss" "sectionReact sectionReact asideC";
  grid-row-gap: 1em;
  justify-items: stretch;
  align-items: stretch; }
  #grilla .sectionHtml {
    grid-area: sectionHtml; }
  #grilla .asideCss {
    grid-area: asideCss; }
  #grilla .sectionJavaScript {
    grid-area: sectionJavaScript; }
  #grilla .sectionReact {
    grid-area: sectionReact; }
  #grilla .asideC {
    grid-area: asideC; }
  #grilla .botonesIndice2 {
    text-decoration: none;
    color: white;
    font-size: 80px;
    background-color: #a79d9d;
    border-radius: 10px;
    border: #7e7777 solid 2px;
    position: absolute;
    width: 50%; }
    #grilla .botonesIndice2:hover {
      background-color: #7e7777; }
  #grilla section img {
    height: 70%; }
  #grilla aside img {
    height: 70%; }
  #grilla #columnaCss {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 80px;
    font-size: 60px;
    text-align: center;
    margin: 0 80px 0 80px; }
  #grilla #columnaCssImg {
    height: 80%;
    margin: 0 20% 0 20%; }
  #grilla #Cpp {
    width: 300px;
    text-align: center;
    margin: 20px; }
  #grilla #html {
    width: 700px;
    text-align: center;
    margin: 20px; }
  #grilla #JS {
    width: 600px;
    text-align: center;
    margin: 20px; }

#studies {
  padding: 40px;
  width: 100%;
  height: 150px;
  font-size: 50px;
  text-align: center;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("https://github.com/niederhausertomas/porfolio-Tomas-Niederhauser/blob/main/imagenes/IMG_5647.jpg?raw=true"); }

.estudios {
  margin: 5px auto 5px auto;
  padding: 25PX;
  width: 95%;
  height: 550px;
  font-size: 35px;
  color: #7e7777;
  margin: 20px; }
  .estudios li {
    margin: 40px 0 20px 0; }

#about {
  padding: 40px;
  width: 100%;
  height: 150px;
  font-size: 50px;
  text-align: center;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("https://github.com/niederhausertomas/porfolio-Tomas-Niederhauser/blob/main/imagenes/IMG_5968.JPG?raw=true"); }

#parrafo {
  width: 90%;
  height: 550px;
  padding: 25px;
  font-size: x-large;
  margin: 25px;
  color: #7e7777; }

#contenedorFotografiaMusica {
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: row; }
  #contenedorFotografiaMusica #containerFotografia {
    width: 650px;
    height: 490px;
    margin: 10px;
    border: 2px solid #7e7777; }
    #contenedorFotografiaMusica #containerFotografia #carrousel {
      margin: 2px;
      width: 640px;
      height: 428px;
      border: 2px solid #7e7777;
      object-fit: contain; }
    #contenedorFotografiaMusica #containerFotografia .divfotografia {
      margin: 2px;
      width: 640px;
      height: 50px;
      border: 2px solid #7e7777;
      text-align: center;
      padding-top: 10px; }
  #contenedorFotografiaMusica #containerMusica {
    margin: 10px;
    width: 650px;
    height: 490px;
    border: 2px solid #7e7777; }
  #contenedorFotografiaMusica .divMusica1 {
    margin: 2px;
    width: 640px;
    height: 212px;
    border: 2px solid #7e7777;
    display: flex;
    flex-direction: row; }
    #contenedorFotografiaMusica .divMusica1 p {
      text-align: center;
      font-size: 30px;
      margin-top: 60px; }
    #contenedorFotografiaMusica .divMusica1 img {
      margin: 5px;
      height: 200px; }
  #contenedorFotografiaMusica .divMusica {
    margin: 2px;
    width: 640px;
    height: 50px;
    border: 2px solid #7e7777;
    display: flex;
    flex-direction: row; }
    #contenedorFotografiaMusica .divMusica h3 {
      margin-top: 10px;
      width: 100%;
      text-align: center; }
    #contenedorFotografiaMusica .divMusica a svg {
      margin: 3px;
      height: 40px; }

footer {
  width: 98%;
  margin: auto;
  margin-top: 100px;
  height: 90px;
  background-color: white;
  display: flex;
  align-items: center;
  border: 2px solid rgba(126, 119, 119, 0.575); }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }
  footer a {
    width: 30px;
    height: 30px;
    opacity: 65%; }
    footer a:hover {
      opacity: 100%;
      padding-top: 5px;
      margin-bottom: -5px;
      transition: 1s; }

.tituloHome {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .tituloHome a {
    width: 30px;
    height: 30px;
    padding: 20px; }

.titulo {
  margin: 15px auto 5px auto;
  width: 50%;
  font-size: 50px;
  text-align: center;
  color: #7e7777;
  margin: 40px; }

@media only screen and (max-width: 420px) {
  * {
    overflow-x: hidden; }
  #fotoNombre {
    width: 100%;
    height: 525px;
    margin-bottom: 20px; }
    #fotoNombre .foto {
      height: 350px;
      width: 90%;
      margin: 20px; }
  #frontend {
    margin-bottom: 20px;
    font-size: 40px;
    height: 180px; }
  .flex-container {
    height: 400px;
    margin: 0;
    padding: 0; }
  #grilla {
    margin: 50px 0 50px 0;
    display: block; }
    #grilla .botonesIndice2 {
      text-decoration: none;
      color: #7e7777;
      font-size: 25px;
      width: 280px;
      height: 100px;
      align-items: center;
      text-align: center;
      margin: 30px;
      background-color: white;
      border: none;
      position: absolute;
      margin-top: 20px; }
      #grilla .botonesIndice2:hover {
        border: none;
        background-color: white; }
    #grilla section img {
      height: 60px;
      margin: 30px; }
    #grilla aside img {
      height: 60px;
      margin: 30px; }
    #grilla .sectionHtml {
      padding: 20px; }
    #grilla #html {
      text-align: center;
      margin: 10px;
      margin-top: 40px;
      padding: 0px;
      width: 50%;
      height: 50px; }
    #grilla #JS {
      width: 180px;
      height: 50px;
      text-align: center;
      margin: 40px 10px 10px 0px;
      font-size: 25px; }
    #grilla .asideCss {
      display: flex; }
    #grilla #columnaCss {
      width: 150px;
      height: 80px;
      font-size: 40px;
      text-align: center;
      margin: 5px 0px 5px 170px;
      padding: 10px; }
    #grilla #columnaCssImg {
      height: 70px;
      margin: 10px;
      margin-left: 50px; }
    #grilla .asideC img {
      margin-left: 60px; }
    #grilla #Cpp {
      width: 100px;
      height: 50px;
      text-align: center;
      font-size: 30px;
      margin: 40px 10px 5px 50px; }
    #grilla .sectionReact img {
      margin-left: 60px;
      margin-right: 10px; }
    #grilla .sectionReact a {
      height: 50px;
      width: 40%;
      margin-top: 40px; }
  .estudios {
    height: 520px;
    font-size: 20px;
    color: #7e7777;
    margin: 0px; }
  #parrafo {
    width: 99%;
    height: 890px;
    padding: 10px;
    font-size: 20px;
    margin: 0px; }
  #contenedorFotografiaMusica {
    display: block;
    height: 850px;
    margin-bottom: 10px; }
    #contenedorFotografiaMusica #containerFotografia {
      width: 98%;
      height: 320px;
      margin: 0px; }
      #contenedorFotografiaMusica #containerFotografia #carrousel {
        width: 98%;
        height: 248px; }
      #contenedorFotografiaMusica #containerFotografia .divfotografia {
        width: 100%;
        margin: 0; }
    #contenedorFotografiaMusica #containerMusica {
      margin: 0;
      width: 98%; }
    #contenedorFotografiaMusica .divMusica1 {
      width: 100%;
      height: 214px; }
    #contenedorFotografiaMusica .divMusica1 p {
      text-align: center;
      font-size: 20px; }
    #contenedorFotografiaMusica .divMusica {
      margin: 2px;
      width: 100%; }
  footer {
    margin-top: 0px;
    width: 100%; } }

@media only screen and (min-width: 421px) and (max-width: 1023px) {
  #fotoNombre {
    width: 100%;
    height: 900px;
    margin-bottom: 20px; }
    #fotoNombre .foto {
      height: 600px;
      width: 600px;
      margin: 20px 15% 0 15%; }
    #fotoNombre #nombre {
      font-size: 70px; }
  #frontend {
    margin-bottom: 0px; }
  .flex-container {
    height: 400px;
    margin-top: 20px; }
  #grilla {
    margin: 50px 0 50px 0;
    display: block; }
    #grilla .botonesIndice2 {
      text-decoration: none;
      color: white;
      font-size: 50px;
      background-color: #7e7777;
      border-radius: 10%;
      border: rgba(126, 119, 119, 0.575) solid 2px;
      position: absolute;
      margin-top: 20px; }
      #grilla .botonesIndice2:hover {
        border: 2px solid rgba(126, 119, 119, 0.575);
        background-color: #a79d9d; }
    #grilla section img {
      height: 80px;
      margin: 10px; }
    #grilla aside img {
      height: 80px;
      margin: 10px; }
    #grilla .sectionHtml {
      padding: 20px; }
    #grilla #html {
      text-align: center;
      margin: 10px;
      padding: 0px;
      width: 300px; }
    #grilla #JS {
      width: 360px;
      text-align: center;
      margin: 20px 10px 10px 0px;
      font-size: 40px; }
    #grilla .asideCss {
      display: flex; }
    #grilla #columnaCss {
      width: 150px;
      height: 80px;
      font-size: 60px;
      text-align: center;
      margin: 5px 20px 5px 100px;
      padding: 0px; }
    #grilla #columnaCssImg {
      height: 70px;
      margin: 10px; }
    #grilla #Cpp {
      width: 100px;
      text-align: center;
      margin: 10px; }
  .estudios {
    height: 400px;
    font-size: 30px;
    margin: 0px; }
  #parrafo {
    width: 99%;
    height: 650px;
    padding: 10px;
    font-size: 25px; }
  #contenedorFotografiaMusica {
    display: block;
    height: 1040px; }
    #contenedorFotografiaMusica #containerFotografia {
      width: 100%;
      height: 600px;
      margin: 0px; }
      #contenedorFotografiaMusica #containerFotografia #carrousel {
        width: 100%;
        height: 540px; }
      #contenedorFotografiaMusica #containerFotografia .divfotografia {
        width: 100%;
        margin: 0; }
    #contenedorFotografiaMusica #containerMusica {
      margin: 0;
      margin-top: 20px;
      width: 100%; }
    #contenedorFotografiaMusica .divMusica1 {
      width: 100%; }
    #contenedorFotografiaMusica .divMusica1 p {
      text-align: center;
      font-size: 30px;
      padding-left: 40px; }
    #contenedorFotografiaMusica .divMusica {
      margin: 2px;
      width: 100%; } }
