@import "./utilities/variables";
@import "./base/reset";
@import "./base/typo";
@import "./layout/nav-item";
@import "./layout/fotoNombre";
@import "./layout/frontEnd";
@import "./layout/proyects";
@import "./layout/botonesIndice";
@import "./layout/lenguages";
@import "./layout/studies";
@import "./layout/aboutMe";
@import "./layout/fotografiaMusica";
@import "./layout/footer";
@import "./layout/tituloHome";
@import "./layout/titulo";
@import "./layout/media420";
@import "./layout/media1023";
@import "./layout/media1024";



