.botonesIndice{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: $colorUno;
    font-size: 25px;
    width: 280px;
    height: 100px;
    align-items: center;
    margin: 30px;
    width: 100%;
    &:hover{
        text-decoration: none;
        color: $colorUno;
        margin-top: 40px;
        transition: 0.5s;
    }
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

div ul li{
    list-style-type:  none;
}
