#hobbies{    
    padding: 40px;
    width: 100%;
    height: 150px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	position: relative;
    background-image: url("https://github.com/niederhausertomas/porfolio-Tomas-Niederhauser/blob/main/imagenes/IMG_6948.jpg?raw=true");}



#fotoNombre{
    width: 100%;
    height: 550px;
    flex-wrap: wrap;
    padding: 0px;
    align-items: center;
    .foto {
        height: 400px;
        width: 30%;
        object-fit: cover;
        border-radius: 50%;
        margin: 20px 35% 10px 35%;
    }
    #nombre {
        text-align: center;
        color: $colorUno;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


#btnWhatsApp{
    position: fixed;
    top: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    z-index: 1000;
    background-color: #00CD54;
    border-radius: 50%;
    cursor: pointer;
    }
    
    #btnWhatsApp:hover{
        height: 45px;
        width: 45px;
        line-height: 40px;
        transition: 0.5s;
    }
