#contenedorFotografiaMusica{
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: row;
    #containerFotografia{
        width: 650px;
        height: 490px;
        margin: 10px;
        border: 2px solid rgb(126, 119, 119);
        #carrousel{
            margin: 2px;
            width: 640px;
            height: 428px;
            border: 2px solid rgb(126, 119, 119);
            object-fit: contain;
        }
        .divfotografia{
            margin: 2px;
            width: 640px;
            height: 50px;
            border: 2px solid rgb(126, 119, 119);
            text-align: center;
            padding-top: 10px;
        }
    }
    #containerMusica{
        margin: 10px;
        width: 650px;
        height: 490px;
        border: 2px solid rgb(126, 119, 119);
    }
    .divMusica1{
        margin: 2px;
        width: 640px;
        height: 212px;
        border: 2px solid rgb(126, 119, 119);
        display: flex;
        flex-direction: row;
        p{
            text-align: center;
            font-size: 30px;
            margin-top: 60px;
        }

        .foto1{
            margin: 5px;
            height: 200px;
        }
        }
    .divMusica{
        margin: 2px;
        width: 640px;
        height: 50px;
        border: 2px solid rgb(126, 119, 119);
        display: flex;
        flex-direction: row;
        h3{
        margin-top: 10px;
        width: 100%;
        text-align: center;
        }
        a svg{
            margin: 3px;
            height: 40px;
        }
    }
}
