#lenguajes{    
    padding: 40px;
    width: 100%;
    height: 150px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	position: relative;
    background-image: url("https://github.com/niederhausertomas/porfolio-Tomas-Niederhauser/blob/main/imagenes/IMG_5617.jpg?raw=true");}

.containerIconos{
    height: 400px;
    display: flex;
    align-items: center;
    width: 100%;
}

.iconos{
    margin: 0;
    padding: 0;
    width: 100%;
}

.icono{
        height: 200px;
        width: 100px;
}

.icono img{
    height: 50px;
    margin-top:75px;
    margin-bottom: 75px;
}

.icono img:hover{
    height: 75px;
    margin-top: 60px;
    transition: 1s;
}