@media only screen and (max-width: 420px){
*{
    overflow-x: hidden;
}


    #fotoNombre{
        width: 100%;
        height: 525px;
        margin-bottom: 20px;
        .foto {
            height: 350px;
            width: 90%;
            margin: 20px;
        }
    }

#frontend{
    margin-bottom: 20px;
    font-size: 40px;
    height: 180px;
}

.flex-container{
    height: 400px;
    margin: 0;
    padding: 0;
}	

#grilla {
    margin: 50px 0 50px 0;
    display: block;
    .botonesIndice2{
        text-decoration: none;
        color: $colorUno;
        font-size: 25px;
        width: 280px;
        height: 100px;
        align-items: center;
        text-align: center;
        margin: 30px;
        background-color: white;
        border: none;
        position: absolute;
        margin-top: 20px;
        &:hover{
            border: none;
            background-color:white;
        }
    }
    section img{
        height: 60px;
        margin: 30px;
    }
    aside img{
        height: 60px;
        margin: 30px;
    }
    .sectionHtml{
        padding: 20px;
    }
    #html{
        text-align: center;
        margin: 10px;
        margin-top: 40px;
        padding: 0px;
        width: 50%;
        height: 50px;
    }
    #JS{
        width: 180px;
        height: 50px;
        text-align: center;
        margin: 40px 10px 10px 0px;
        font-size: 25px;
    }
    .asideCss{
        display: flex;
    }
    #columnaCss{
        width: 150px;
        height: 80px;
        font-size: 40px;
        text-align: center;
        margin: 5px 0px 5px 170px;
        padding: 10px;
    }
    #columnaCssImg{
        height: 70px;
        margin: 10px;
        margin-left: 50px;
    }
    .asideC{
        img{
            margin-left: 60px;
        }
    }
    #Cpp{
        width: 100px;
        height: 50px;
        text-align: center;
        font-size: 30px;
        margin: 40px 10px 5px 50px;
    }
    .sectionReact{
      img{
        margin-left: 60px;
        margin-right: 10px;
      }  
      a{
        height: 50px;
        width: 40%;
        margin-top: 40px;
      }
    }
}

.estudios{
    height: 520px;
    font-size: 20px;
    color: rgb(126, 119, 119);
    margin: 0px;
}

#parrafo{
    width: 99%;
    height: 890px;
    padding: 10px;
    font-size: 20px;
    margin: 0px;
}

#contenedorFotografiaMusica{
    display: block;
    height: 850px;
    margin-bottom: 10px;
    #containerFotografia{
        width: 98%;
        height: 320px;
        margin: 0px;
        #carrousel{
            width: 98%;
            height: 248px;
        }
        .divfotografia{
            width: 100%;
            margin: 0;
        }
    }
    #containerMusica{
        margin: 0;
        width: 98%;
    }
    .divMusica1{
        width: 100%;
        height: 214px;
    }
    .divMusica1 p{
        text-align: center;
        font-size: 20px;
    }
    .divMusica{
        margin: 2px;
        width: 100%;
    }
}
footer{
    margin-top: 0px;
    width: 100%;

}
}
