.estudios{
    margin: 5px auto 5px auto;
    padding: 15PX;
    width: 95%;
    height: 500px;
    font-size: 45px;
    color: rgb(126, 119, 119);
    margin: 20px;
    li{
        margin: 10px 0 10px 0;
    }
}